.row
  .col-md-12
    -unless post.title.nil?
      %h4.text-justify= post.title
    %hr
    %p.text-justify= post.body
.row
  .col-md-1
  .col-md-11
    .row
      .col-md-12
        %strong{class: "comments_count#{post.id}"}= "#{post.comments.count} comments"
    .row
      .col-md-12{class: "comments#{post.id}"}
        -unless post.comments.empty?
          -post.comments.each do |comment|
            = render 'comments/comment', comment: comment
    .row
      .col-md-12
        = link_to new_post_comment_path(post), remote: true do
          add
          %i.fas.fa-comment-dots.bigger-130.fa-lg.text-info
    %hr
.row
  .col-md-12
    %code= "Posted #{time_ago_in_words(post.created_at)} ago" 
    %br
    =link_to edit_post_path(post), remote: true do
      %i.fas.fa-pencil-alt.bigger-130.fa-lg.text-secondary
    =link_to post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do
      %i.fas.fa-trash-alt.bigger-130.fa-lg.text-danger
%hr